{% extends 'partner/base.html' %}

{% block title %}Регистрация партнера{% endblock %}

{% block page_title %}Регистрация партнера{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Регистрация партнера</h3>
          </div>
          <div class="card-body">
            <form method="POST" action="">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            size: 10
        });

        // Проверяем тип партнера при загрузке страницы
        if ($('input[name="partner_type"]:checked').val() === 'individual') {
            $('#id_owner').parent().show();
        } else {
            $('#id_owner').parent().hide();
        }

        $('input[name="partner_type"]').change(function() {
            if ($(this).val() === 'individual') {
                $('#id_owner').parent().show();
            } else {
                $('#id_owner').parent().hide();
            }
        });
    });
</script>
{% endblock %}