{% extends 'partner/base.html' %}

{% block title %}Добавить салон{% endblock %}

{% block page_title %}Добавить салон{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Добавить салон</h3>
                    </div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="card-body">
                            <div class="form-group">
                                {{ form.salon_name.label(class="form-label") }}
                                {{ form.salon_name(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.partner_type.label(class="form-label") }}
                                {% for subfield in form.partner_type %}
                                    <div class="form-check">
                                        {{ subfield(class="form-check-input") }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.categories.label(class="form-label") }}
                                {{ form.categories(class="form-control selectpicker", multiple=True, data_live_search="true", data_size="10", title="Выберите категории") }}
                            </div>
                            <div class="form-group">
                                {{ form.city.label(class="form-label") }}
                                {{ form.city(class="form-control selectpicker", data_live_search="true", title="Выберите город") }}
                            </div>
                            <div class="form-group">
                                {{ form.discount_text.label(class="form-label") }}
                                {{ form.discount_text(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.contacts.label(class="form-label") }}
                                {{ form.contacts(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.message_salon_name.label(class="form-label") }}
                                {{ form.message_salon_name(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}