{% extends 'partner/base.html' %}

{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
    </div>
{% endmacro %}

{% block title %}Редактирование салона{% endblock %}

{% block page_title %}Редактирование салона{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Редактирование салона</h3>
                    </div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="card-body">
                            {{ render_field(form.salon_name) }}
                            <div class="form-group">
                                {{ form.partner_type.label(class="form-label") }}
                                <div class="partner-type-options">
                                    {% for subfield in form.partner_type %}
                                        <div class="form-check">
                                            {{ subfield(class="form-check-input", id="partner_type-" + subfield.id|replace('partner_type-', '')) }}
                                            {{ subfield.label(class="form-check-label") }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.categories.label(class="form-label") }}
                                {{ form.categories(class="form-control selectpicker", multiple=True, data_live_search="true", data_size="10", title="Выберите категории") }}
                            </div>
                            <div class="form-group">
                                {{ form.city.label(class="form-label") }}
                                {{ form.city(class="form-control selectpicker", data_live_search="true", title="Выберите город") }}
                            </div>
                            {{ render_field(form.discount) }}
                            {{ render_field(form.contacts) }}
                            {{ render_field(form.message_salon_name) }}
                        </div>
                        <div class="card-footer">
                            {{ form.submit(class="btn btn-primary", type="submit") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                size: 10
            });
    </script>
{% endblock %}