{% extends 'partner/base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block page_title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-box">
                    <div class="logo">
                        <h1>САРАФАН</h1>
                    </div>
                    <h2>Сброс пароля</h2>
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="login" class="form-label">Введите ваш номер телефона (логин):</label>
                            <input type="text" class="form-control" id="login" name="login" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Отправить ссылку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}